<main>
  <div class="jumbotron jumbotron-about p-0 m-0">
    <div class="col-12 col-lg-5 text-center h-100" style="background-color: rgba(0,0,0,0.7); ">
      <div class="proverb text-light">
        <h3>One cannnot think well, love well,</br>
          sleep well, if one has not dined well.
        </h3>
        <h3>~Virfinia Woolf~</h3>
      </div>
    </div>
  </div>

  <section class="page-section text-light" style="background-color: #1E1E1F" >
      <div class="container-fluid">
        <h1 class="text-center mt-0">About My portfolio</h1>
        <hr class="divider"/>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <h1 class="mb-2"><i class="fa-solid fa-user"></i></h1>
                  <h3 class="mb-2">User</h3>
                  <p class="mb-0">マイページや自分以外のユーザーページを閲覧することができます</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <h1 class="mb-2"><i class="fa-solid fa-right-to-bracket"></i></h1>
                  <h3 class="mb-2">Log in</h3>
                  <p class="mb-0">サインアップ、ログインをすることで様々な機能を使えるようになります</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <h1 class="mb-2"><i class="fa-solid fa-comment"></i></h1>
                  <h3 class="mb-2">Comment</h3>
                  <p class="mb-0">ユーザーの投稿に対してコメントをすることができます</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <h1 class="mb-2"><i class="fa-solid fa-heart"></i></h1>
                  <h3 class="mb-2">Like</h3>
                  <p class="mb-0">ユーザーの投稿にいいねができます</p>
              </div>
          </div>
        </div>
      </div>
    </section>

  <section id="collection" class="page-section overflow-hidden" style="background-color: #1E1E1F;">
    <div class="container-fluid">
      <h1 class="text-center text-light mt-0">Trendy shops</h1>
      <hr class="divider"/>
      <div class="row mt-5">
        <!--リピート-->
        <div class="col-lg-3 col-sm-6 mb-4 image-zoom-effect">
          <div class="collection-item position-relative mx-auto">
            <div class="image-holder">
              <%= image_tag "about_photo1.jpg", class:"img-fluid", alt:"product" %>
              <div class="product-info position-absolute d-flex justify-content-center align-items-center">
                <div class="border d-flex justify-content-center align-items-center text-center">
                  <div class="text-wrap">
                    <h3 class="m-0">
                      <a class="text-light">Yoru cafe</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 image-zoom-effect">
          <div class="collection-item position-relative mx-auto">
            <div class="image-holder">
              <%= image_tag "about_photo2.jpg", class:"img-fluid", alt:"product" %>
            </div>
            <div class="product-info position-absolute d-flex justify-content-center align-items-center">
              <div class="border d-flex justify-content-center align-items-center text-center">
                <div class="text-wrap">
                  <h3 class="m-0">
                    <a class="text-light">Night bar</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 image-zoom-effect">
          <div class="collection-item position-relative mx-auto">
            <div class="image-holder">
              <%= image_tag "about_photo3.jpg", class:"img-fluid", alt:"product" %>
            </div>
            <div class="product-info position-absolute d-flex justify-content-center align-items-center">
              <div class="border d-flex justify-content-center align-items-center text-center">
                <div class="text-wrap">
                  <h3 class="m-0">
                    <a  class="text-light">Earth camper</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 image-zoom-effect">
          <div class="collection-item position-relative mx-auto">
            <div class="image-holder">
              <%= image_tag "about_photo4.jpg", class:"img-fluid", alt:"product" %>
            </div>
            <div class="product-info position-absolute d-flex justify-content-center align-items-center">
              <div class="border d-flex justify-content-center align-items-center text-center">
                <div class="text-wrap">
                  <h3 class="m-0">
                    <a class="text-light">Saturn buffet</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>