<main>
  <div class="main-top">
    <div class="masthead py-5">
      <div class="masthead-content text-white py-4">
        <div class="container-fluid text-center py-5 my-5 px-0">
          <h2 class="site-name fadeInDown">Lime</h2>
          <hr class="top-divider"/>
          <h3 class="my-name mt-3 mb-5 fadeInUp">Shinya Ito</h3>
          <a class="btn-lg btn-Sign-Up active m-3" href="/users/sign_up" role="button">Sigh up</a>
          <a class="btn-lg btn-Log-in active m-3" href="/users/sign_in" role="button">Log in</a>
        </div>
      </div>
    </div>
    <div class="social-icons">
      <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
      </div> 
    </div>
  </div>
</main>